.animate {
    animation: bounceIn .8s;
}

.animateImage {
    animation: appearsFromLeft .6s;
    
}

@keyframes bounceIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: scale(1.0);
    }
}


@keyframes appearsFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-400px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}