.main-footer {
    background-color: var(--dark-blue);
    display: grid;
    place-items: center;
    margin-top: 60px;
    border-top: 1px solid var(--dark-blue);
    border-bottom: 1px solid var(--dark-blue);
}

.map {
    display: grid;
    justify-items: right;
    height: 100%;
    max-width: 100%;
    background-image: url("../assets/mapa.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 40px;
    justify-content: center;
    align-items: flex-start;
    color: white;
}

.footer-grid button{
    background: white;
    color: #007fbd;
}
.footer-grid button:hover{
    background: white;
    color: #007fbd;
}
.footer-grid button a{
    color: #007fbd;
}


.footer-content-wrapper {
    width: 100%;
    display: grid;
    justify-content: center;
}

.footer-content {
    margin-top: -40px;
    padding: 60px 20px;
    width: 100%;
    max-width: 400px;
    text-align: left;
    line-height: 1.8em;
}

.footer-content p {
    font-size: 18px;
}

.yellow-color {
    color: var(--yellow);
    font-weight: 900;
}


.footer-title {
    margin-top: 40px;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

.footer-button {
    margin-top: 40px;
    color: white;
}


@media (max-width: 600px) and (orientation: portrait){
    .main-footer {
        padding: 0;
        margin: 0;
    }
    .footer-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        max-width: 100vw;
        padding: 60px 24px 0 24px;
    }
    .map {
        height: 40vh;
        margin-top: 40px;
    }
    .footer-content-wrapper {
        display: block;
        margin: 0;
        padding: 0 20px;
        width: calc(100% - 40px);
    }
    .footer-content {
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .footer-content p {
        width: 100%;
    }

    .meeting-schedule {
        text-align: center;
    }
}